# Archivo: env.example.txt
# Este archivo contiene ejemplos de las variables de entorno requeridas.
# Copiar a un archivo llamado .env (para desarrollo) o .env.prod para uso en producción.

# ==================================================
# 1. Django - Configuración General
# ==================================================

# CLAVE SECRETA (CRÍTICA). Cambiar en producción.
SECRET_KEY=django-insecure-cambiame-en-produccion
DB_KEY=clave_de_cifrado_propia

# Host(s) permitidos. Separados por coma (sin espacios).
ALLOWED_HOSTS=localhost,127.0.0.1,api.dominio.com

# ==================================================
# 2. PostgreSQL (vía PgBouncer)
# ==================================================

POSTGRES_DB=nombre_de_bd
POSTGRES_USER=usuario_de_bd
POSTGRES_PASSWORD=tu_password_segura
POSTGRES_HOST=pgbouncer # CRÍTICO: La app siempre apunta al pooler
POSTGRES_PORT=5432      # Puerto interno de PgBouncer

# ==================================================
# 3. Usuario SUDO inicial (Seed/Bootstrap)
# ==================================================

SUDO_USERNAME=admin_default
SUDO_EMAIL=admin@ejemplo.com
SUDO_PASSWORD=password_segura_a_cambiar

# ==================================================
# 4. Configuración de Desarrollo (DEBUG=True)
# ==================================================
# Estas variables se usan por defecto en el modo 'docker compose up'

DEBUG=True
# En desarrollo, la seguridad SSL/Cookie no es necesaria:
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False


# ==================================================
# 5. Configuración de Producción (DEBUG=False)
# ==================================================
# Estas variables deben estar en el .env.prod y configuradas correctamente 
# para un entorno real con SSL.

# Si se usan para pruebas locales (HTTP), deben ser False
# Si se usan para deployment con SSL/Proxy (Nginx/Traefik), deben ser True

# DEBUG debe ser False en prod
# DEBUG=False

# Forzar HTTPS (cambiar a 'True' si se usa un proxy SSL)
# SECURE_SSL_REDIRECT=False
# SESSION_COOKIE_SECURE=False
# CSRF_COOKIE_SECURE=False

# Orígenes CORS permitidos (separados por coma, sin espacios)
# CORS_ALLOWED_ORIGINS=https://mi-frontend.com,https://api.otrodominio.com

# Ejecutar seeders en producción (usar solo para el primer despliegue)
# RUN_SEEDERS_IN_PROD=true

# Configuración de Uvicorn (usada en docker-compose.prod.yml)
# UVICORN_WORKERS=4
# UVICORN_LOG_LEVEL=warning