# ==================================================
# Django
# ==================================================

SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_KEY=clave_de_cifrado_propia

# --- Configuración de Producción (Insegura para pruebas locales) ---
DEBUG=False

# Desactivar redirección forzada a HTTPS
SECURE_SSL_REDIRECT=False

# Permitir cookies en HTTP (necesario para login/admin en local)
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# Ejecutar Seeders (como pediste antes)
RUN_SEEDERS_IN_PROD=true

# ==================================================
# PostgreSQL (vía PgBouncer)
# ==================================================

POSTGRES_DB=nombre_de_bd
POSTGRES_USER=_usuario_de_bd
POSTGRES_PASSWORD=tu_password
POSTGRES_HOST=pgbouncer #si se hace uso de la herramientta
POSTGRES_PORT=123456


# ==================================================
# Usuario SUDO inicial (seed / bootstrap)
# ==================================================

SUDO_USERNAME=usuario_default
SUDO_EMAIL=email@email.com
SUDO_PASSWORD=password123456
